<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addModalLabel">서버 등록하기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table table-borderless align-middle">
					<tr>
						<th>서버명</th>
						<td class="form-group">
							<input id="addInput1" class="form-control" type="text" placeholder="Batch_Server">
						</td>
					</tr>
					<tr>
						<th>로그 경로</th>
						<td class="form-group">
							<input id="addInput2" class="form-control" type="text" placeholder="D:\data\data.log">
						</td>
					</tr>
					<tr>
						<th>포트</th>
						<td class="form-group">
							<input id="addInput3" class="form-control" type="text" placeholder="8080">
						</td>
					</tr>
					<tr>
						<th>재시작 경로</th>
						<td class="form-group">
							<input id="addInput4" class="form-control" type="text" placeholder="D:\data\startup.bat">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" onClick="addServer()">등록</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="putModal" tabindex="-1" aria-labelledby="putModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="putModalLabel">서버 수정하기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input id="putInput0" type="hidden">
				<table class="table table-borderless align-middle">
					<tr>
						<th>서버명</th>
						<td class="form-group">
							<input id="putInput1" class="form-control" type="text">
						</td>
					</tr>
					<tr>
						<th>로그 경로</th>
						<td class="form-group">
							<input id="putInput2" class="form-control" type="text">
						</td>
					</tr>
					<tr>
						<th>포트</th>
						<td class="form-group">
							<input id="putInput3" class="form-control" type="text">
						</td>
					</tr>
					<tr>
						<th>재시작 경로</th>
						<td class="form-group">
							<input id="putInput4" class="form-control" type="text">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" onClick="putServer()">수정</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="intervalModal" tabindex="-1" aria-labelledby="intervalModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="intervalModalLabel">인터벌 변경</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div><span>현재 인터벌: </span><span id="intervalView">1분</span></div>
				<div>
					<button type="button" class="btn btn-primary" onClick="changeInterval(10000)">10초</button>
					<button type="button" class="btn btn-primary" onClick="changeInterval(30000)">30초</button>
					<button type="button" class="btn btn-primary" onClick="changeInterval(60000)">1분</button>
					<button type="button" class="btn btn-primary" onClick="changeInterval(180000)">3분</button>
					<button type="button" class="btn btn-primary" onClick="changeInterval(300000)">5분</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function addServer() {
		let formData = new FormData();
        formData.append("name", $("#addInput1").val());
        formData.append("path", $("#addInput2").val());
        formData.append("port", $("#addInput3").val());
        formData.append("startPath", $("#addInput4").val());
		$.ajax({
			url: "/addServer",
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			success: function (result) {
				console.log(result);
				$("#addModal").modal("hide"); 
			},
			error: function (e) {
				console.log(e.responseText);
				$("#addModal").modal("hide"); 
			}
		}); 
	}
	function putServer() {
		let formData = new FormData();
        formData.append("index", $("#putInput0").val());
        formData.append("name", $("#putInput1").val());
        formData.append("path", $("#putInput2").val());
        formData.append("port", $("#putInput3").val());
		formData.append("startPath", $("#putInput4").val());
		$.ajax({
			url: "/putServer",
			type: "PUT",
			data: formData,
			processData: false,
			contentType: false,
			success: function (result) {
				getServerList();
				$("#putModal").modal("hide"); 
			},
			error: function (e) {
				console.log(e.responseText);
				$("#putModal").modal("hide"); 
			}
		});
	}
	
</script>