# spring.config.use-legacy-processing: true
spring.output.ansi.enabled: always
server:
  port: 1000
---
spring.profiles.active: local
spring:
  profiles:
      group:
        local: 
        - console-logging
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:./data/sample
    username: sa
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    root: info
ssh:
  host: 127.0.0.1
  name: user
  pw: 1234
---
spring.profiles.active: prod
spring:
  profiles:
      group:
        prod: 
        - file-logging
        - slack-logging
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:./data/viewlog/viewlog
    username: admin
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    root: info
  slack:
    webhook-uri: "https://hooks.slack.com/services/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"
ssh:
    host: 127.0.0.1
    name: user
    pw: 1234
---
