# spring.config.use-legacy-processing: true
spring.output.ansi.enabled: always
server:
  port: 1000
---
spring.profiles.active: local
spring:
  profiles:
      group:
        local: 
        - console-logging
logging:
  level:
    root: info
---
spring.profiles.active: dev
spring:
  profiles:
      group:
        dev: 
        - file-logging
        - slack-logging
logging:
  level:
    root: info
  slack:
    webhook-uri: "https://hooks.slack.com/services/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"
