<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="favicon.ico">
    <title>Viewlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="container">
        <div class="m-1 row justify-content-between">
            <div class="col-4 fs-3 fw-bold">
                Viewlog
            </div>
            <div class="col-4 text-end" style="display: flex; align-items: center; flex-direction: row-reverse;">
                <span id="isRemotingSpan">대기중</span>
            </div>
            <div class="col-4 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Register</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#intervalModal">Interval</button>
                <button id="btn-running" class="btn btn-primary" type="button" onClick="doReload()" style="display: none;">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Running
                </button>
                <button id="btn-reload" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Reload
                </button>
            </div>
        </div>
        <table class="table table-sm text-center" style="vertical-align: middle;">
            <thead class="table-primary">
                <th>상태</th>
                <th>이름</th>
                <th>마지막 추적</th>
                <th>추적</th>
            </thead>
            <tbody id="serverListTbody"></tbody>
        </table>
        <div class="card">
            <div class="m-3 row justify-content-between">
                Server Name
            </div>
            <div id="console_container" class="card mx-3 mb-3">
                # server: ready to start console!
            </div>
        </div>
    </div>
    <th:block aria-label="모달 영역" th:include="modal/modal"></th:block>
    <!-- <div aria-label="스피너 영역" class="spinner-overray">
        <div class="d-flex justify-content-center spinner-position">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div> -->
</body>
</html>